rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Public read, admin write
    match /projects/{projectId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Public create, admin read/delete/update
    match /messages/{messageId} {
      allow create: if true;
      allow read, delete, update: if request.auth != null;
    }
    
    // Public read, admin write
    match /settings/main {
      allow read: if true;
      allow write: if request.auth != null;
    }

  }
}
